body{
    background-color: green;
}
.calc {
    width: 350px;
    height: 600px;
    border: 4px solid grey;
    margin-left: 38%;
    margin-top: 150px;
}

.screen {
    height: 100px;
    width: 100%;
    background-color: black;
}

.screen input {
    width: calc(100% - 10px);
    height: 100%;
    border: none;
    padding: 5px;
    text-align: right;
    background-color: black;
    color: white;
    font-size: 30px;
}

.buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 490px;
}

.orange {
    background-color: orange;
}

.btn {
    border-radius: 0px;
    font-size: 30px;
}

.buttons :hover {
    background-color: grey;
}

.c {
    grid-column: 1/span 2;
}

.equal {
    grid-column: span 3;
}